# API Server
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-dotenv
motor
supertokens-python==0.23.1
boto3
beautifulsoup4==4.12.3
redis[hiredis]
pymilvus
pyyaml
openai
pytest-playwright
