**/.env
**/.venv
**/env/
**/__pycache__/
**/.python-version
**/.DS_Store
**/git_commits.json
**/git_commits_summarized.json
backend/api/clustered_messages.txt
backend/api/messages.json
backend/api/assistant_text.json
.idea
backend/api/utils/slack/messages.json
