DEBUG_MODE=True
#FASTAPI_PORT=8001
#WEBSITE_DOMAIN="http://localhost:3000"
API_DOMAIN="http://localhost:8001"
#INSTALL_DOMAIN="https://heymonk.app"
#FASTAPI_PORT=8001
#WEBSITE_DOMAIN="https://web.heymonk.app"
#API_DOMAIN="https://api.heymonk.app"




